@using VendorAndOrderTrackerSQL.Models;
@using System.Collections.Generic;

@{
  Layout = "_Layout";
}
@foreach(KeyValuePair<Vendor, List<Order>> item in @Model){
  <h2>Name: @item.Key.Name</h2>
  <h4>Description: @item.Key.Description</h4>

  <h3>Orders for this vendor</h3>
  <ul>
  @foreach (Order order in item.Value)
  {
    <li><a href=@("/Vendor/" +ViewContext.RouteData.Values["id"] + "/Order/" + order.Id)>@order.Title</a></li>
  }
</ul>
}

<div><a href=@("/Vendor/" +  ViewContext.RouteData.Values["id"] + "/Order/new" )>Add an order to this vendor</a></div>
<div><a href=@("/Vendor/" +  ViewContext.RouteData.Values["id"] + "/edit" )>Edit this vendor</a></div>

<div class="buttons">
  <form action=@("/Vendor/" + ViewContext.RouteData.Values["id"] + "/delete" ) method="post">
  <button type="submit" class="btn btn-danger">Delete this vendor</button>
  </form>
  <form action=@("/Vendor/" + ViewContext.RouteData.Values["id"] +"/Order/delete" ) method="post">
  <button type="submit" class="btn btn-danger">Delete all orders from this vendor</button>
  </form>
</div>
