
<div id="searchform">
  <p><a href="/Vendor">Go to vendors</a></p>
  <form action="/search" method="get">
  <label for="query">Search</label>
  <input type="text" name="query" id="query">
  </form>
</div>

